<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Signup</title>
</head>
<body>
    <form action="/Signup" method="post">
        Signup<br>
        <input type="text" placeholder="House Number" id="houseno" name="houseno"><br>
        <input type="text" placeholder="Username" id="username" name="username"><br>
        <input type="text" placeholder="Email" id="email" name="email"><br>
        <input type="password" placeholder="Password" id="password" name="password"><br>
        <input type="password" placeholder="Re Enter Password" id="repassword" name="repassword"><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>